.header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--primary);
    color: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    top: 0;
    left: 0;
    z-index: 10;
    right: 0;
}

.options {
    display: flex;
    align-items: center;
    .btn-logout {
        margin-left: 20px;
        background-color: #fc997c;
        border: #fc997c;
        position: relative;
        border-radius: var(--border-radius);
        &:hover {
            background-color: #f9815d !important;
        }

        &::before {
            content: '';
            position: absolute;
            height: 60%;
            width: 1px;
            background-color: #fff;
            top: 50%;
            transform: translateY(-50%);
            left: -10px;
        }
    }
}

.option-item {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.15);
}

.option-item.active {
    background-color: var(--btn-color);
}

.logo {
    font-size: 24px;
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: #fff;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}
